# not tracked by version control
.DS_Store
node_modules
dist
coverage

# Storybook build
apps/design/stories
build-storybook.log
storybook-static

# Temp folders
temp
/notes
/meta

# ignore non-npm lockfiles
pnpm-lock.yaml
yarn.lock
